@page "/actionLogInfo/{Id}"
@using Wex1.Elephant.Liveviewer.Model
@using Wex1.Elephant.Liveviewer.Services
@using Wex1.Elephant.Liveviewer.Services.Mock
@inject ActionLogService LogService

<h3>ActionLog Information</h3>
@if (ActionLog != null)
{
    <div class="card">
        <div class="card-body">
            
            <dl class="row">
                <dt class="col-sm-3"><strong>Id:</strong></dt>
                <dd class="col-sm-9">@ActionLog.Id</dd>

                <dt class="col-sm-3"><strong>Timestamp:</strong></dt>
                <dd class="col-sm-9">@ActionLog.Timestamp.ToString()</dd>

                <dt class="col-sm-3"><strong>Type:</strong></dt>
                <dd class="col-sm-9">@ActionLog.Type</dd>

                <dt class="col-sm-3"><strong>Component:</strong></dt>
                <dd class="col-sm-9">@ActionLog.Component</dd>

                <dt class="col-sm-3"><strong>Description:</strong></dt>
                <dd class="col-sm-9">@ActionLog.Description</dd>
            </dl>
        </div>
    </div>

}
else
{
    <p>Action log not found.</p>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private ActionLog ActionLog { get; set; }



    protected override async Task OnInitializedAsync()
    {
        ActionLog = await LogService.Get(Id);
    }
}
